/***** General *****/

.content_container {
  margin: 0 auto; /* damit der Content in der Mitte des Screens angezeigt wird und nicht linksbündig  */
  padding: 0 20px;
  max-width: 1440px;
  width: 100%; /* wird gebraucht, weil der header eine Flexbox hat --> 100% heißt, "nimm so viel Platz wie möglich ein (bis zur max-width-Grenze) */
}

h1 {
  text-align: center;
  color: var(--color_text);
  padding-top: 40px;
  padding-bottom: 20px;
}

/* h2 {
  padding-left: 16px;
} */

h3 {
  /* padding-bottom: 8px; */
  padding: 16px 0px 0px 16px;
}

/***** Header *****/

header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: var(--color_bg_header_footer);
  border-bottom: 2px solid var(--color_highlight);
}

header .content_container {
  /* Der .content_container wird nur für den header zur Flexbox */
  display: flex;
  align-items: center;
  gap: 12px;
}

header img {
  height: 48px;
  object-fit: contain;
}

.header_logo_title {
  font-size: 30px;
  color: var(--color_text);
}

/***** Body/Main/headings *****/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  color: white;
  background-color: var(--color_bg_main);
  padding-bottom: 40px;
}

/***** Footer *****/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  color: var(--color_text);
  background-color: var(--color_bg_header_footer);
  border-top: 1px solid var(--color_highlight);
}

/***** Queries *****/

@media (max-width: 500px) {
  .comment_formular input {
    width: 240px;
  }
}

@media (max-width: 460px) {
  .book_metadata td {
    display: block;
    width: 100%;
    padding: 4px 0;
  }

  .comment_formular input {
    width: 200px;
  }
}

@media (max-width: 420px) {
  .comment_formular input {
    width: 160px;
  }
}

@media (max-width: 350px) {
  h2 {
    font-size: 20px;
  }

  .book_price {
    font-size: 20px;
  }

  .comment_formular input {
    width: 100px;
  }
}
