.book_gallery {
  display: flex;
  flex-wrap: wrap;
}

.book_card {
  width: 360px;
  background-color: var(--color_card_dark);
  border-radius: 16px;
  overflow: hidden; /* vermeidet, dass die "eckigen Kanten" zB des headers angezeigt werden */
  margin: 40px;
}

.book_card_header {
  background-color: var(--color_card_dark);
}

.book_illustration {
  background-color: var(--color_card_bright);
  border-bottom: 2px solid var(--color_highlight);
  display: flex;
  justify-content: center;
}

.book_card img {
  height: 120px;
  object-fit: contain;
}

.book_price_and_likes {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 16px 16px;
}

.book_price {
  color: red;
  font-size: 24px;
  /* font-weight: 700; */
}

.book_likes {
  display: flex;
  align-items: center;
  gap: 8px;
}

.like_button img {
  height: 20px;
  object-fit: contain;
}

.like_button:hover {
  transform: scale(1.1);
}

.like_button:active {
  transform: scale(0.95);
}

.book_metadata {
  border-bottom: 2px solid var(--color_highlight);
  padding: 0px 16px 16px 16px;
}

.book_metadata table {
  border-collapse: separate; /* wichtig! sonst wird border-spacing ignoriert */
  border-spacing: 16px 0; /* horizontal 16px, vertikal 0 */
}

.existing_comments {
  height: 200px;
  overflow-y: auto; /* bei Bedarf erscheint ein vertikaler Scrollbalken */
  overflow-x: hidden; /* es erscheint KEIN horizontaler Scrollbalken */
  padding: 16px 16px 0px 16px;
}

.comment_formular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.comment_formular input {
  width: 280px;
  background-color: var(--color_card_bright);
  color: var(--color_text);
  font-size: 16px;
  border: none; /* Umrandungen zurücksetzen und dann überschreiben */
  border-bottom: 2px solid var(--color_highlight);
  padding: 4px 4px;
}

.comment_formular input::placeholder {
  color: var(--color_text);
  /* padding: 40px 8px; */
}

/* .comments_input_field { */
/* width: 280px; */
/* margin: 16px 16px; */
/* background-color: var(--color_card_bright); */
/* color: var(--color_text); */
/* border: none; */

/* } */

.send_button img {
  width: 36px;
  object-fit: contain;
}

.send_button:hover {
  transform: scale(1.1);
}

.send_button:active {
  transform: scale(0.95);
}
