:root {
  --color_bg_main: rgba(5, 23, 31, 1);                  /* Main-Background */
  --color_bg_header_footer: rgba(8, 33, 41, 1);         /* Header, Footer */
  --color_card_dark: rgba(13, 50 ,64, 1);               /* Book-Card: dunkle Farbe */
  --color_card_bright: rgba(18, 71, 89, 1);             /* Book-Card: helle Farbe (Buchhintergrund, Input-Feld) */
  --color_highlight: rgba(88, 151, 173, 1);     /* Highlight-Farbe für Seperator, Border etc. */
  --color_text: white;                          /* Schriftfarbe */
  
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  /* all: unset;  --> geht nicht, da dann auch der FOKUS (Tab) rausgenommen wird */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer; 
}

.padding_x {
  padding-left: 16px;
  padding-right: 16px;
}